{% extends 'base.html.twig' %}

{% block title %}{{ 'lucky.number'|trans }}{% endblock %}

{% block body %}
    {{ dump(locale) }}
    <h1>{{ 'lucky.number-is'|trans({'{number}': number}) }}</h1>
{% endblock %}
