<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Pokédex</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link{% if active_route == 'pokemon' %} active{% endif %}" href="{{ path('pokemon') }}">Pokémon</a>
            </li>
            <li class="nav-item">
                <a class="nav-link{% if active_route == 'type' %} active{% endif %}" href="{{ path('type') }}">Types</a>
            </li>
            <li class="nav-item">
                <a class="nav-link{% if active_route == 'category' %} active{% endif %}" href="{{ path('category') }}">Categories</a>
            </li>
        </ul>
    </div>
</nav>
