{% extends 'base.html.twig' %}

{% block title %}{% trans %}label.categories{% endtrans %}{% endblock %}

{% block body %}
    {% include 'navigation/main-menu.html.twig' with {'active_route': 'category'} %}

    <h1>{% trans %}label.categories{% endtrans %}</h1>

    {% if categories is not empty %}
    <table class="table table-striped">
        <thead class="thead-dark">
            <tr>
                <th scope="col" class="name">{% trans %}label.name{% endtrans %}</th>
            </tr>
        </thead>
        <tbody>
        {% for category in categories %}
            <tr>
                <th scope="row" class="name">
                    <h3><a href="{{ path('category_show', {id: category.id}) }}">{{ category.name }}</a></h3>
                </th>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% endif %}
{% endblock %}
